@font-face {
    font-family: barlowlight;
    src: url(media/font/Barlow-Light.ttf)
}

@font-face {
    font-family: barlowregular;
    src: url(media/font/Barlow-Regular.ttf)
}

@font-face {
    font-family: barlowsemiBold;
    src: url(media/font/Barlow-SemiBold.ttf)
}

/* -------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: barlowlight;
    font-size: 2rem;
    background-color: #0f1b27;
}

nav *{
    display: inline-block;
    margin: 20px;
}

nav {
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 15px;
}

/* -------------------------------------------------------- */

#icon {
    width: 100px;
}