@font-face {
    font-family: barlowlight;
    src: url(media/font/Barlow-Light.ttf)
}

@font-face {
    font-family: barlowregular;
    src: url(media/font/Barlow-Regular.ttf)
}

@font-face {
    font-family: barlowsemiBold;
    src: url(media/font/Barlow-SemiBold.ttf)
}

/* -------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: barlowsemiBold;
    font-size: 30pt;
    background-color: #0f1b27;
}

nav {
    background-color: #192c3f;
    border: 2px solid #ff4500;
    color: white;
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

header {
    background-color: #192c3f;
    border: 2px solid #ff4500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border-radius: 5px;
    margin-top: 30px;
}

/* -------------------------------------------------------- */

#icon {
    width: 85px;
    height: 85px;
    margin-right: 10px;
}

#navleft {
    letter-spacing: 25px;
    text-decoration: underline;
}

#navright {
    margin-left: auto;
}

.knapper {
    margin: 15px;
    display: inline-block;
    color: white;
    transition-duration: .2s;
    background-color: #ff440069;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 2rem;
}

.knapper:hover {
    scale: 1.1;
    background-color: rgba(255, 0, 0, 0.582)
}